<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaludPlus"
        tools:targetApi="31">

        <!-- Pantalla inicial -->
        <!-- Login y Registro -->
        <activity android:name=".ui.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Flujo Paciente -->
        <activity android:name=".ui.PacienteHomeActivity" />
        <activity android:name=".ListaMedicosActivity" />
        <activity android:name=".AgendarCitaActivity" />
        <activity android:name=".MisCitasActivity" />
        <activity android:name=".ui.PerfilPacienteActivity" />
        <activity android:name=".EditarPerfilPacienteActivity" />
        <activity android:name=".DetalleCitaPacienteActivity" />
        <activity android:name=".ui.HistorialCitasPacienteActivity"/>

        <!-- Flujo Médico -->
        <activity android:name=".ui.MedicoHomeActivity" />
        <activity android:name=".ui.DisponibilidadActivity" />
        <activity android:name=".ListHorarioMedicoActivity" />
        <activity android:name=".ui.PerfilMedicoActivity" />
        <activity android:name=".EditarPerfilMedicoActivity" />
        <activity android:name=".DetalleCitaDoctorActivity" />


        <!-- Generales -->
        <activity android:name=".ui.ListaEspecialidadesActivity" />
        <activity android:name=".utils.NavPacienteActivity" />
        <activity android:name=".MainActivity" />


    </application>

</manifest>
